* {
    background-color: rgb(237, 239, 232);
    font-family: verdana;

}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    max-height: 420px;
   }

.fuente-vm2 {
    font-size: 2vw;
}

.img-vm1 {
    width: 35px;
}

h1 {

    text-align: center;
    color: rgb(101, 12, 12);

}


iframe {

    background-color: white;
    object-fit: contain;
    max-height:100%;
    max-width: 100%;
}
.centrado{
    text-align: center;
  }

#activar1:checked~.desplegable1 {
    text-decoration: line-through;
}

#activar2:checked~.desplegable2 {
    text-decoration: line-through;
}

#activar3:checked~.desplegable3 {
    text-decoration: line-through;
}

#activar4:checked~.desplegable4 {
    text-decoration: line-through;
}
#activar5:checked~.desplegable5 {
    text-decoration: line-through;
}
#activar6:checked~.desplegable6 {
    text-decoration: line-through;
}