*{
    background-color: rgb(237, 239, 232);
    font-family: verdana;
     text-align: center;
}
h1{ 
    text-align: center;

}
h2{
    padding: 20px;
    background-color: rgb(243, 251, 225);
    color: rgb(101, 12, 12);
    
}
#ajustar {width:inherit}

/* los comntarios van con barra y asterisco y asterisco barra */

