.contenedor {
    background-color: blue;
    padding: 10px;
    display: grid;
    height: 720px;
    grid-template-columns: 200px 200px 200px ;
    /*alineaciones*/
    justify-content: space-between; /*alineación en horizontal*/
    align-content: space-between; /*alineacion en vertical*/
}
.hijo{
    background-color: lightblue;
    text-align: center;
    border: 1px  solid white;
    padding:10px;
}